ul{
    list-style-type:none;
}


.section{
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    background-color: rgb(33, 33, 33);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.section *{
    color: #fff;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 10px;
}